/*
* Roboto Font Definitions
*/
@import 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 100% !important;
    max-width: 1280px;
    margin: 0 auto;
}

.nav-wrapper {
    max-height: 48px;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    line-height: 48px;
}

nav {
    height: 48px;
    width: 100%;
    background-color: #ee6e73;
}

.button-collapse {
    height: 48px;
    width: 36px;
    margin-right: 16px;
}

nav a {
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    line-height: 48px !important;
}

nav a i {
    margin-left: 6px;
    margin-right: 6px;
    display: inline;
    font-size: 2rem !important;
    margin-left: 15px;
}

.right {
    float: right;
}

.button-collapse i {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 36px;
    line-height: 48px;
}

.brand-logo {
    height: 48px;
    font-size: 32px;
    line-height: 48px;
    text-decoration: none;
    position: absolute;
}

.side-nav {
    display: none;
}

nav div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav div ul li {
    list-style-type: none;
    display: inline;
    float: left;
    margin-left: 5px;
    padding: 0;
}

.dropdown-content {
    background-color: #eee;
}

.dropdown-content li a {
    color: #222;
    margin-left: 5px;
    line-height: 36px;
    text-decoration: none;
}

.page-content, .sidebar {
    float: left;
    padding: 0.5em;
}

.page-content {
    width: calc(75% - 1em);
}

.sidebar {
    width: calc(25% - 1em);
}

.input-field {
    position: relative;
    margin-top: 0rem;
    background-color: #000;
    color: #fff;
}

#term {
    height: 500px;
    background: #000;
    color: #fff;
    word-wrap: break-word;
}

.input-field i {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 24px;
    display: inline-block;
    line-height: 32px;
}

#cmd_box {
    height: 32px;
    background: none;
    border: 0px;
    display: inline-block;
    color: #fff;
    position: absolute;
}

.term_line {
    margin: 0;
    font-family: "Roboto Mono", Consolas, Monaco, monospace;
    font-size: 14px;
}

progress {
    width: 100%;
}

.nano { background: #000; width: 100%; height: 500px; }
.nano .nano-content { padding: 10px; }
.nano .nano-pane   { background: #000; }
.nano .nano-slider { background: #000; }

footer {
    background-color: #ee6e73;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.footer-copyright {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Hide dropdown links until they are needed*/
li ul {
    min-height: 48px;
    display: none;
}

/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 5px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

li a {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

/*Style for dropdown links*/
li:hover ul a {
    color: #2f3036;
    height: 48px;
    line-height: 48px;
}

@media screen and (max-width: 768px) {
    ul {
        position: static;
        display: none;
    }

    li {
        margin-bottom: 1px;
    }

    ul li, li a {
        width: 100%;
    }

    .page-content {
        width: 100%;
    }

    .sidebar {
        width: 80%;
    }
}