
<nav>
    <div class="nav-wrapper container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="/" class="brand-logo">JPanel</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#each paths}}
            <li><a href="{{this.path}}">{{this.name}}</a></li>
        {{/each}}
            <li><a href="/switchtheme" title="Change Theme"><i class="material-icons">settings_brightness</i></a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            {{#each paths}}
                <li><a href="{{this.path}}">{{this.name}}</a></li>
            {{/each}}
            <li><a href="/switchtheme">Change Theme</a></li>
        </ul>
    </div>
</nav>
