
<nav>
    <div class="nav-wrapper container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="/" class="brand-logo">JPanel</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/players">Online Players</a></li>
            <li><a href="/files">File manager</a></li>
            <li><a href="">Permissions manager</a></li>
            <li><a href="/switchtheme">Change Theme</a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/players">Online Players</a></li>
            <li><a href="/files">File manager</a></li>
            <li><a href="">Permissions manager</a></li>
            <li><a href="/switchtheme">Change Theme</a></li>
        </ul>
    </div>
</nav>