<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <link rel="stylesheet" href="/term.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{#if dark}}
        <link rel="stylesheet" href="/dark.css">
    {{/if}}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        .container {
            width: 100% !important;
        }

        .collection {
            height: calc(100vh - 84px);
            overflow-y: auto;
            margin-bottom: 0px;

        }

        .collection-item.avatar {
            height: auto !important;
            padding-left: 0px !important;
        }

        .collection .collection-item.avatar .circle {
            position: relative;
            width: 42px;
            height: 42px;
            overflow: hidden;
            left: 0px !important;
            vertical-align: middle;
            font-size: 24px !important;
        }

        .circle {
            border-radius: 0;
        }

        .p25 {
            width: 25%;
        }

        .p75 {
            width: 75%;
        }

        .img {
            width: 100%;
            max-height: 175px;
        }

        .player-header {
            max-height: 175px;
        }

        .row {
            margin-bottom: 0px;
        }

        .short-collection {
            margin: 0.5rem 0px 1rem;
            border: 1px solid #E0E0E0;
            border-radius: 2px;
            overflow: hidden;
            position: relative;
        }

        .overflow {
            overflow-y: auto
        }
    </style>
</head>

<body>
{{{ header }}}

<main>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col s12 m4">

                    <div class="collection">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="truncate" href="#online_pl">Online Players</a></li>
                            <li class="tab col s3"><a class="truncate" href="#all_pl">All Players</a></li>

                        </ul>

                        <div id="online_pl" >

                        </div>

                        <div id="all_pl" >

                        </div>
                    </div>

                </div>
                <div class="col s12 m8" id="player_info">

                </div>
            </div>
        </div>
    </div>
</main>


<script type="text/html" id="item_tmpl">
    <div onclick="openPlayer('<%=player.playerUuid%>')" class="collection-item avatar valign-wrapper">
        <div class="col">
            <img class="circle" src="https://minotar.net/avatar/<%=player.playerName%>"/>
        </div>
        <div class="col s10">
            <a href="#!" class="black-text">
                <%=player.playerName%>
            </a>
        </div>
    </div>
</script>

<script type="text/html" id="player_info_tmpl">
    <div class="collection">

        <div class="row player-header">
            <div class="col p25">
                <img class="img" src="https://minotar.net/avatar/<%=player.playerName%>"/>
            </div>

            <div class="col p75">
                <h2><%=player.playerName%></h2>
                <h5 class="truncate">UUID: <%=player.playerUuid%></h5>
            </div>
        </div>

        <% if (player.extras.online) { %>
            <div class="row">
                <ul class="short-collection">
                    <li class="collection-item">Health: <%=player.extras.health%></li>
                    <li class="collection-item">Current World: <%=player.extras.world%></li>
                    <li class="collection-item">Current Gamemode: <%=player.extras.gamemode%></li>
                    <li class="collection-item">Online: <%=player.extras.online%></li>
                </ul>
            </div>
        <% } else {%>
            <div class="row">
                <ul class="short-collection">
                    <li class="collection-item">Online: <%=player.extras.online%></li>
                </ul>
            </div>
        <% } %>

        <% if (player.extras.online) { %>
        <div class="row">
            <div class="short-collection overflow">
                <ul class="tabs">
                    <li class="tab col"><a class="truncate" href="#groups">Groups</a></li>
                    <li class="tab col"><a class="truncate" href="#perms">Permissions</a></li>
                </ul>

                <div id="groups" >

                    <% for (i = 0; i < player.extras.groups.length; i++) { %>
                        <div class="collection-item">
                            <%=player.extras.groups[i]%>
                            <a href="#!" class="secondary-content" onclick="removeGroup('<%=player.extras.groups[i]%>')"><i class="material-icons">delete</i></a>
                        </div>

                    <% } %>


                    <form id="groupForm" onsubmit="return addGroup()" class="collection-item">
                        <input placeholder="Group" name="group" type="text" class="validate">
                        <button type="submit" name="action" class="waves-effect waves-light btn">Add Group</button>
                    </form>

                </div>

                <div id="perms" >
                    <div class="collection-item">
                        <p>These are calculated from the bukkit superperms APIs, and may not reflect the permissions nodes present in the config files.</p>
                    </div>

                    <% for (i = 0; i < player.extras.permissions.length; i++) { %>
                    <div class="collection-item">
                        <%=player.extras.permissions[i]%>
                    </div>

                    <% } %>

                </div>
            </div>
        </div>
        <% } else {%>
        <div class="row">
            <div class="short-collection overflow">

                <div id="groups" >
                    <div class="collection-item">
                        Selected World: <%=player.extras.world%>
                    </div>


                <% for (i = 0; i < player.extras.groups.length; i++) { %>
                <div class="collection-item">
                    <%=player.extras.groups[i]%>
                    <a href="#!" class="secondary-content" onclick="removeGroup('<%=player.extras.groups[i]%>')"><i class="material-icons">delete</i></a>
                </div>

                <% } %>

                <form id="groupForm" onsubmit="return addGroup()" class="collection-item">
                    <input placeholder="Group" name="group" type="text" class="validate">
                    <button type="submit" name="action" class="waves-effect waves-light btn">Add Group</button>
                </form>

                </div>

            </div>
        </div>
        <% } %>

    </div>

</script>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

<script src="/playersplus.js"></script>


<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });
</script>


</body>
</html>